@font-face {
    font-family: Gotham;
    src: url(/styles/assets/fonts/GOTHAM-BLACK.TTF);
}

* {
    margin: 0;
    padding: 0;

    cursor: default;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    background: white;
    height: 10%;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header_content {
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_content h1 {
    color: rgb(9, 99, 199);
    font-size: 24px;
    font-family: Gotham;
}

#nav_links {
    display: flex;
    align-items: center;
    gap: 16px;
}

#nav_links a {
    color: rgb(9, 99, 199);
    font-size: 12px;
    font-family: Gotham;
    text-decoration: none;

    cursor: pointer;

    transition: 0.25s ease;
}

#nav_links a:hover {
    color: #01080E;
    font-size: 12px;
    font-family: Gotham;
    text-decoration: none;

    cursor: pointer;

    transition: 0.25s ease;
}

main {
    margin-top: 10vh;
}

section {
    height: 90vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section_title {
    margin: 8px;

    display: flex;
    flex-flow: column nowrap;
}

.section_title h2 {
    font-size: 32px;
    font-family: Gotham;
}

.title_deco {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title_deco_part1 {
    background: black;
    height: 4px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.title_deco_part2 {
    background: black;
    height: 2px;
    aspect-ratio: 128 / 1;
    border-radius: 2px;
}



#presentation_content {
    background: #01080E;
    height: 70vh;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profile_photo {
    background: white;
    height: 256px;
    width: 256px;
    border-radius: 50%;
}

#presentation_text {
    display: flex;
    flex-flow: column nowrap;

    color: white;
    font-family: Gotham;
}

#presentation_title {
    font-size: 32px;
}

#presentation_subtitle {
    font-size: 24px;
}

#presentation_title span, #presentation_subtitle span {
    color: rgb(9, 99, 199);
}

#presentation_text_content {
    margin-top: 16px;
    margin-bottom: 16px;
}

#contacts_icons {    
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.contact_icon {
    height: 32px;
    aspect-ratio: 1 / 1;
    border: 2px solid rgb(9, 99, 199);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    color: rgb(9, 99, 199);
    font-size: 16px;
    text-decoration: none;

    transition: 0.25s ease;
}

#more_about {
    width: 96px;
    aspect-ratio: 8 / 1;
    margin-top: 16px;
    padding: 8px;
    border: 2px solid rgb(9, 99, 199);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(9, 99, 199);
    font-size: 16px;
    text-wrap: nowrap;
    text-decoration: none;

    cursor: pointer;

    transition: 0.25s ease;
}

.contact_icon:hover, #more_about:hover {
    border: 2px solid white;

    color: white;

    transition: 0.25s ease;
}

.frame_side {
    background: white;
    height: 32px;
    width: 100%;
    box-shadow: 0 0 16px;

    position: absolute;
}

#frame_top {
    transform: translateY(-35vh) rotate(-1deg);
}

#frame_bot {
    transform: translateY(35vh) rotate(-1deg);
}



#knowledge {
    display: flex;
    align-items: center;
    justify-content: center;
}

#knowledge_content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#slide1_content,
#slide2_content,
#slide3_content,
#slide4_content,
#slide5_content,
#slide6_content,
#slide7_content {
    height: 100%;
    width: 100%;

    display: none;
}

#slide1_content.active,
#slide2_content.active,
#slide3_content.active,
#slide4_content.active,
#slide5_content.active,
#slide6_content.active,
#slide7_content.active {
    display: block;
}

#slide1_content {

}
#slide2_content {

}
#slide3_content {

}
#slide4_content {

}
#slide5_content {

}
#slide6_content {

}
#slide7_content {

}

footer {
    background: #01080E;
    height: 40%;
    width: 100%;
}